{{ define "main" }}
{{ $MediaProbe := .Data.MediaProbe}}
{{ with .Data.ExportTag }}
<audio class="player"
       crossorigin="anonymous"
       preload="{{ .Preload }}"
       {{ if $MediaProbe }}data-duration="{{ $MediaProbe | getDurationSec }}" {{ end }}
       controls
       autoplay
       data-settings="{{ $.Data.Settings | json }}">
    {{ range .Sources }}
    <source src="{{ .Src }}" type="{{ .Type }}">
    {{ end }}
</audio>
{{ end }}
{{ "mediaelement.css" | asset }}
{{ "action/stream.js" | asset }}
{{ end }}