{{ define "main" }}
<div class="text-center py-12 font-baskerville text-7xl">
    <a href="/" async-target="main">
        <span>web</span><span class="text-accent">tor</span>
    </a>
</div>
{{ if .Err }}
<div class="progress-alert progress-alert-oneline mb-10 closeable">
    <pre>{{ .Err | log | shortErr }}</pre>
    <a class="closeable-close close">ok</a>
</div>
{{ end }} 
{{ with .Data }}
{{ if has . "Job" }}
<form class="hidden progress-alert progress-alert-block mb-10 closeable" async-progress-log="{{ .Job | makeJobLogURL }}" async-target="main">
    <div class="log-target"></div>
    <div class="pt-3 flex justify-end hidden alert-close-wrapper">
        <a class="closeable-close close">got it!</a>
    </div>
</form>
{{ end }}
<form action="/" method="post" enctype="multipart/form-data" class="join w-full" async-target="main">
    <input type="text" name="resource" value="{{ if has . "Args" }}{{ .Args.Query }}{{ end }}" placeholder="Magnet-uri...?  Infohash...?" class="input input-bordered w-full join-item" />
    <button type="submit" class="btn btn-accent btn-outline join-item">Search</button>
</form>
<div class="divider h-12">OR</div>
<form class="dropzone" action="/" method="post" enctype="multipart/form-data" class="flex justify-center items-center w-full" async-target="main">
    <label for="dropzone-input" class="group transition duration-200 flex flex-col justify-center items-center w-full h-36 rounded-lg border-2 border-dashed cursor-pointer border-accent hover:border-accent-focus">
        <div class="flex flex-col justify-center items-center pt-5 pb-6">
            <svg aria-hidden="true" class="mb-3 w-10 h-10 text-accent group-hover:text-accent-focus transition duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
            <p class="mb-2 text-m text-accent group-hover:text-accent-focus transition duration-200"><span class="font-semibold">Drop torrent file here</span> or click to select...</p>
            <p class="text-xs uppercase">(No torrent size limit)</p>
        </div>
        <input class="dropzone-input hidden" name="resource" type="file" />
    </label>
</form>
<div class="divider h-12">OR</div>
<form class="flex flex-col justify-center items-center" action="/" method="post" enctype="multipart/form-data" async-target="main">
    <input type="hidden" name="resource" value="{{ demoMagnet }}" />
    <button type="submit" class="btn btn-accent btn-outline">Try demo!</button>
</form>
{{ "index.js" | asset }}
{{ template "about" }}
{{ end }}
{{ end }}