# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.db

tmp

.DS_Store
__debug*
web-ui-v2
web-ui

node_modules

assets/dist/*

.env
.self-hosted.env

templates/partials/extend.html
.idea
.vscode
