{{ define "about" }}
<div class="hero bg-base-200 mt-12">
    <div class="hero-content text-center">
        <div>
            <h2 class="text-2xl font-bold text-accent">How to download torrents with <strong>Webtor.io</strong></h2>
            <p class="py-6 text-justify">
                With <strong>Webtor.io</strong> it is easy to convert your torrent-file or magnet-url into direct download link
                in 3&nbsp;simple steps without need to use torrent-client:
            </p>
            <ol class="list-decimal text-justify pl-8">
                <li>Locate the torrent file on your computer</li>
                <li>Upload it to <strong>Webtor.io</strong></li>
                <li>Click on the file link to download</li>
            </ol>
        </div>
    </div>
</div>
<div class="hero bg-base-200 mt-10">
    <div class="hero-content text-center">
        <div>
            <h2 class="text-2xl font-bold text-accent">Feature list</h2>
            <p class="pt-6 text-justify">
                <strong class="text-accent">Instant video and audio streaming</strong> - you can select video or audio file inside torrent and start watching it without downloading.
                Supported formats:
            <ul class="text-justify pl-8 pt-3">
                <li>Video: avi, mkv, mp4, webm, m4v, ts, vob</li>
                <li>Audio: mp3, wav, ogg, flac, m4a</li>
            </ul>
            </p>
            <p class="pt-6 text-justify">
                <strong class="text-accent">Chrome Extension</strong> - <a href="https://chrome.google.com/webstore/detail/webtorio-watch-torrents-o/ngkpdaefpmokglfnmienfiaioffjodam" target="_blank" class="link">install extension for Google Chrome</a> and <strong>Webtor.io</strong> will be open all downloaded torrents and magnet-links in a new tab.
            </p>
            <p class="pt-3 text-justify">
                <strong class="text-accent">Download whole torrent as ZIP-archive</strong> - download your torrent as ZIP-archive on-the-fly preserving original directory structure without torrent-client.
            </p>
            <p class="pt-3 text-justify">
                <strong class="text-accent">Developer friendly</strong> - with the <a href="https://github.com/webtor-io/embed-sdk-js" target="_blank" class="link">SDK</a> you can provide your users with the ability to watch torrent-videos online on your website.
            </p>
        </div>
    </div>
</div>
<div class="hero bg-base-200 mt-10">
    <div class="hero-content text-center">
        <div>
            <h2 class="text-2xl font-bold text-accent">FAQ</h2>
            <h3 class="text-accent font-bold text-justify pt-6">Do I need to turn on my VPN when using <strong>Webtor.io</strong>? Will my ISP see what I'm downloading?</h3>
            <p class="text-justify pt-3">
                For an ISP, using <strong>Webtor.io</strong> is no different from using any other site such as YouTube or Google. All information
                between the user and <strong>Webtor.io</strong> is transmitted only over the secure HTTPS protocol, which excludes the possibility of interception.
                The user's IP address is not broadcasted to the BitTorrent network, since downloads from the BitTorrent network are only handled by <strong>Webtor.io</strong> servers.
                Thus, the use of <strong>Webtor.io</strong> is anonymous and safe without any additional measures.
            </p>
            <h3 class="text-accent font-bold text-justify pt-6">Can I remove ads when using <strong>Webtor.io</strong>?</h3>
            <p class="text-justify pt-3">
                In order to remove ads, you just need to <a href="/donate" target="_blank" class="link">start helping the project</a>. In addition to removing ads, you will also be able to get faster loading speed and a heart icon in the interface!
            </p>
            <h3 class="text-accent font-bold text-justify pt-6">Can I use <strong>Webtor.io</strong> on my mobile phone or tablet?</h3>
            <p class="text-justify pt-3">
                Yes! You can use <strong>Webtor.io</strong> to download and stream torrents on any mobile device, without having to install additional apps.
            </p>
            <h3 class="text-accent font-bold text-justify pt-6">Is <strong>Webtor.io</strong> open-source project?</h3>
            <p class="text-justify pt-3">
                All components of <strong>Webtor.io</strong> are absolutely open-source and distributed under MIT license.
                You can <a href="https://github.com/webtor-io/" target="_blank" class="link">visit github repository</a> to view source codes.
            </p>
        </div>
    </div>
</div>
{{ end }}