{{ define "footer"}}
    <footer class="footer text-base-content p-5 mt-5">
        <nav>
            <h6 class="footer-title">Tools</h6>
            <a class="link link-hover" href="/torrent-to-ddl" data-async-target="main">Torrent → DDL</a>
            <a class="link link-hover" href="/torrent-to-zip" data-async-target="main">Torrent → ZIP</a>
            <a class="link link-hover" href="/magnet-to-ddl" data-async-target="main">Magnet → DDL</a>
            <a class="link link-hover" href="/magnet-to-torrent" data-async-target="main">Magnet → Torrent</a>
        </nav>
        <nav>
            <h6 class="footer-title">Resources</h6>
            <a class="link link-hover" href="https://blog.webtor.io/en/post/" target="_blank">Blog</a>
            <a class="link link-hover" href="https://github.com/webtor-io/" target="_blank">GitHub</a>
            <a class="link link-hover" href="https://www.reddit.com/r/webtor/" target="_blank">Reddit</a>
            <a class="link link-hover" href="https://github.com/webtor-io/player-sdk-js" target="_blank">SDK</a>
            <a class="link link-hover" href="https://rapidapi.com/paveltatarsky-Dx4aX7s_XBt/api/webtor/">RapidAPI</a>
        </nav>
        {{ if useAbuseStore }}
            <nav>
                <h6 class="footer-title">Feedback</h6>
                <a class="link link-hover" href="/support" data-async-target="main">Support</a>
            </nav>
            <nav>
                <h6 class="footer-title">Legal</h6>
                <a class="link link-hover" href="/legal/dmca" data-async-target="main">DMCA</a>
            </nav>
        {{ end }}
    </footer>
    <footer class="px-5 py-4 border-t footer bg-base-200 text-base-content border-base-300">
        <aside><p>Copyright © {{ now.UTC.Year }} Webtor.io</p></aside>
    </footer>
{{ end }}