<!doctype html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ template "title" . }} | Webtor.io</title>
        <meta name="description" content="Download and play torrents with free online torrent web player and downloader. Just paste the magnet link or open the torrent file and start downloading or watching torrent content safely and anonymously through your web browser. Works instantly without client and registration!">
        <link rel="shortcut icon" href="/assets/night/favicon.ico">
        <link rel="icon" type="image/svg+xml" href="/assets/night/favicon.svg" >
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/night/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/night/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="48x48" href="/assets/night/favicon-48x48.png">
        <script>
            window._CSRF = "{{ .CSRF }}";
            window._sessionID = "{{ .SessionID }}";
            window._domain = "{{ domain }}";
        </script>
        {{ "layout.js" | asset }}
        {{ "baskerville.css" | asset }}
        {{ "style.css" | asset }}
        {{- if useAuth }}
        <script>window._sessionExpired = {{ .User.Expired }};</script>
        {{ "auth.js" | asset }}
        {{- end }}
        {{- template "head_extra" . }}
    </head>
    <body class="flex flex-col min-h-screen">
        <script>document.body.style.display = 'none';</script>
        <progress id="progress" class="progress fixed progress-accent h-1"></progress>
        <header class="pb-3">
            <nav data-async-get="/" data-async-layout="{{`{{ template "nav" . }}`}}">{{ template "nav" . }}</nav>
        </header>
        <div id="wrapper" class="flex flex-col w-full px-4 sm:px-8 items-center mb-5 sm:mb-10">
            <div class="min-w-80 w-full max-w-3xl">
                <main id="main" data-async-layout="{{`{{ template "main" . }}`}}" data-async-update-title="{{`{{ template "title" . }} | Webtor.io`}}">
                {{ template "main" . }}
                </main>
            </div>
        </div>
        <div class="flex flex-col w-full px-4 sm:px-8 items-center bg-base-200 mt-auto">
            <div class="min-w-80 w-full max-w-3xl">
                <div>
                    {{ template "footer" . }}
                </div>
            </div>
        </div>
    </body>
</html>