<!doctype html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Download and play torrents | Webtor.io</title>
        <meta name="description" content="Download and play torrents with free online torrent web player and downloader. Just paste the magnet link or open the torrent file and start downloading or watching torrent content safely and anonymously through your web browser. Works instantly without client and registration!">
        <script>
            window._CSRF = "{{ .CSRF }}";
            window._sessionID = "{{ .SessionID }}";
            window._domain = "{{ domain }}";
        </script>
        {{ "layout.js" | asset }}
        {{ "baskerville.css" | asset }}
        {{ "style.css" | asset }}
        {{- if useAuth }}
        <script>window._sessionExpired = {{ .User.Expired }};</script>
        {{ "auth.js" | asset }}
        {{- end }}
        {{- template "head_extra" . }}
    </head>
    <body class="flex flex-col min-h-screen">
        <script>document.body.style.display = 'none';</script>
        <progress id="progress" class="progress fixed progress-accent h-1"></progress>
        <header class="pb-3">
            <nav async-get="/" async-layout="{{`{{ template "nav" . }}`}}">{{ template "nav" . }}</nav>
        </header>
        <div id="wrapper" class="flex flex-col w-full px-4 sm:px-8 items-center mb-5 sm:mb-10">
            <div class="min-w-80 w-full max-w-3xl">
                <main id="main" async-layout="{{`{{ template "main" . }}`}}">
                {{ template "main" . }}
                </main>
            </div>
        </div>
        <div class="flex flex-col w-full px-4 sm:px-8 items-center bg-base-200 mt-auto">
            <div class="min-w-80 w-full max-w-3xl">
                <div>
                    <footer class="footer text-base-content p-5 mt-5">
                        <nav>
                            <h6 class="footer-title">Tools</h6>
                            <a class="link link-hover" href="/torrent-to-ddl" async-target="main">Torrent → DDL</a>
                            <a class="link link-hover" href="/magnet-to-ddl" async-target="main">Magnet → DDL</a>
                            <a class="link link-hover" href="/magnet-to-torrent" async-target="main">Magnet → Torrent</a>
                        </nav>
                        <nav>
                            <h6 class="footer-title">Resources</h6>
                            <a class="link link-hover" href="https://blog.webtor.io/en/post/" target="_blank">Blog</a>
                            <a class="link link-hover" href="https://github.com/webtor-io/" target="_blank">GitHub</a>
                            <a class="link link-hover" href="https://www.reddit.com/r/webtor/" target="_blank">Reddit</a>
                            <a class="link link-hover" href="https://github.com/webtor-io/player-sdk-js" target="_blank">SDK</a>
                            <a class="link link-hover" href="https://rapidapi.com/paveltatarsky-Dx4aX7s_XBt/api/webtor/">RapidAPI</a>
                        </nav>
                        <nav>
                            <h6 class="footer-title">Feedback</h6>
                            <a class="link link-hover" href="/support" async-target="main">Support</a>
                        </nav>
                        <nav>
                            <h6 class="footer-title">Legal</h6>
                            <a class="link link-hover" href="/legal/dmca" async-target="main">DMCA</a>
                        </nav>
                    </footer>
                    <footer class="px-5 py-4 border-t footer bg-base-200 text-base-content border-base-300">
                        <aside><p>Copyright © {{ now.UTC.Year }} Webtor.io</p></aside>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>