<!doctype html>
<html lang="en" data-theme="night" style="background-color: rgb(15, 23, 42);">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Download and play torrents | Webtor.io</title>
        <meta name="description" content="Download and play torrents with free online torrent web player and downloader. Just paste the magnet link or open the torrent file and start downloading or watching torrent content safely and anonymously through your web browser. Works instantly without client and registration!">
        <script>
            window._CSRF = "{{ .CSRF }}";
            window._sessionID = "{{ .SessionID }}";
            window._domain = "{{ domain }}";
        </script>
        <script async src="{{ "layout.js" | asset }}"></script>
        {{- if useAuth }}
        <script>window._sessionExpired = {{ .User.Expired }};</script>
        <script async src="{{ "auth.js" | asset }}"></script>
        {{- end }}
        {{- template "head_extra" . }}
    </head>
    <body>
        <script>document.body.style.display = 'none';</script>
        <progress id="progress" class="progress fixed progress-accent h-1"></progress>
        <nav async-get="/" async-layout="{{`{{ template "nav" . }}`}}">{{ template "nav" . }}</nav>
        <div id="wrapper" class="flex flex-col w-full px-8 items-center">
            <div class="min-w-80 w-full max-w-3xl">
                <div class="text-center py-12 font-baskerville text-7xl">
                    <a href="/" class="group" async-target="main"><span class="group-hover:text-primary-focus transition duration-200">web</span><span class="group-hover:text-accent-focus text-accent transition duration-200">tor</span></a>
                </div>
                <main id="main" async-layout="{{`{{ template "main" . }}`}}">
                {{ template "main" . }}
                </main>
            </div>
        </div>
    </body>
</html>