{{ define "main" }}
<form onsubmit="submitLoginForm(this, event)" class="join w-full mt-10">
    <input type="email" name="email" class="input input-bordered w-full join-item" placeholder="Your Email" />
    <button type="submit" class="btn btn-accent btn-outline join-item">Send Magic Link</button>
</form>
<form class="hidden progress-alert progress-alert-block mt-5 closeable">
    <div class="log-target"></div>
    <div class="pt-3 flex justify-end hidden alert-close-wrapper">
        <a class="close closeable-close">got it!</a>
    </div>
</form>
{{ "auth/login.js" | asset }}
{{ end }}