{{ define "title" }}
    {{ with .Data }}
        {{ if has . "Item" }}
            {{ .Item.PathStr }} | {{ .Resource.Name }}
        {{ else }}
            {{ .Resource.Name }}
        {{ end }}
    {{ end }}
{{ end }}
{{ define "main" }}
{{ with .Data }}
{{ if .Item }}
<div id="file" data-async-layout="{{`{{ template "file" . }}`}}">
  {{ template "file" $ }}
</div>
{{ end }}
{{ if and .Item .List }}
<div class="divider h-0"></div>
{{ end }}
{{ if .List }}
<div id="list" data-async-layout="{{`{{ template "list" . }}`}}">
{{ template "list" $ }}
</div>
{{ end }}
<div class="mt-2">
    {{ template "button" makeTorrentDownload $ . }}
</div>
<div id="log-{{ .Resource.ID }}" class="mt-3" data-async-layout="{{`{{ template "main" . }}`}}" />
{{ end }}
{{ "resource/get.js" | asset }}
{{ template "get_extra" . }}
{{ end }}