{{ define "head" }}
    <script src="{{ "player.js" | asset }}"></script>
    <link rel="stylesheet" href="{{ "player.css" | asset }}" />
{{ end }}
{{ define "content" }}
<video class="player" srossorigin="anonymous" preload="{{ .Preload }}" {{ if $.Poster }}poster="{{ .Poster }}"{{ end }} controls autoplay>
    {{ range .Sources }}
    <source src="{{ .Src }}" type="{{ .Type }}">
    {{ end }}
    {{ range .Tracks }}
    <track src="{{ .Src }}" srclang="{{ .SrcLang }}" label="{{ .Label }}" kind="{{ .Kind }}">
    {{ end }}
</video>
{{ end }}