{{ define "head" }}
    <script src="{{ "player.js" | asset }}"></script>
    <link rel="stylesheet" href="{{ "player.css" | asset }}" />
{{ end }}
{{ define "content" }}
<video class="player"
       crossorigin="anonymous"
       preload="{{ .ExportTag.Preload }}"
       {{ if .ExportTag.Poster }}poster="{{ .ExportTag.Poster }}" {{ end }}
       {{ if .MediaProbe }}data-duration="{{ .MediaProbe | getDurationSec }}" {{ end }}
       controls
       autoplay>
    {{ range .ExportTag.Sources }}
    <source src="{{ .Src }}" type="{{ .Type }}">
    {{ end }}
    {{ range .ExportTag.Tracks }}
    <track src="{{ .Src }}" srclang="{{ .SrcLang }}" label="{{ .Label }}" kind="{{ .Kind }}">
    {{ end }}
    {{ range .OpenSubtitles }}
    <track src="{{ .Src }}" srclang="{{ .SrcLang }}" label="{{ .Label }}" kind="{{ .Kind }}" data-provider="OpenSubtitles">
    {{ end }}
</video>
{{ end }}