<!doctype html>
<html>
<head>
    <title>Webtor Player SDK Example</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
    {{ template "main" . }}
    <script src="https://cdn.jsdelivr.net/npm/@webtor/embed-sdk-js@0.2.18/dist/index.min.js" charset="utf-8" async></script>
</body>
</html>