<!DOCTYPE html>
<html style="background-color: black;">
    <head>
        <script>
            window._id = "{{ .Data.ID }}";
            window._CSRF = "{{ .CSRF }}";
            window._embedSettings = {{ .Data.EmbedSettings | json }};
            window._domainSettings = {{ .Data.DomainSettings | json }};
            window._sessionID = "{{ .SessionID }}";
        </script>
        {{ template "embed_extra" . }}
        {{ "embed.css" | asset }}
        {{ "embed/index.js" | asset }}
    </head>
    <body data-iframe-height>
        {{ if .Err }}
        <div class="progress-alert progress-alert-oneline mb-10 closeable">
            <pre>{{ .Err | log | shortErr }}</pre>
            <a class="closeable-close close">ok</a>
        </div>
        {{ end }} 
        {{ with .Data }}

        {{ if has . "Job" }}
        <form class="hidden progress-alert progress-alert-block mb-10 closeable" data-async-progress-log="{{ .Job | makeJobLogURL }}">
            <div class="log-target"></div>
        </form>
        {{ end }}
        {{ end }}
    </body>
</html>