@import "../../../node_modules/mediaelement/build/mediaelementplayer.css";

.mejs__available-progress {
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.15s ease-in all;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
}

.mejs__cast-button {
  position: absolute;
  top: 4px;
  right: 9px;
  z-index: 999999999;
  cursor: pointer;
}

.mejs__embed-button button {
  background: none;
  color: #fff;
  font-size: .8rem;
  white-space: nowrap;
  letter-spacing: .1rem;
  transform: scaleY(1.8);
  overflow: visible;
  position: relative;
  left: -.2rem;
  .slash {
    padding-left: .07rem;
    padding-right: .07rem;
    position: relative;
    bottom: -.04rem;
  }
}
