{{ define "title" }}Support{{ end }}
{{ define "main" }}
    <h2 class="text-2xl font-bold text-accent mt-5">Support</h2>
    {{ if .Err }}
        <div class="progress-alert progress-alert-oneline mb-10 closeable my-7">
            <pre>{{ .Err | log | shortErr }}</pre>
            <a class="closeable-close close">ok</a>
        </div>
    {{ end }}
    {{ with .Data }}
        <form class="w-full my-7" method="post" enctype="multipart/form-data" data-async-target="main">
            <select class="select select-bordered w-full" name="cause">
                {{ range $key, $val := .CauseTypes }}
                    {{ with $.Data.Form }}
                        <option {{ if eq .Cause $key }}selected{{end}} {{ if eq $key -1 }}disabled{{ end }} value="{{ $key }}">{{ $val }}</option>
                    {{ end }}
                {{ end }}
            </select>
            {{ with .Form }}
                <input type="text" name="subject" placeholder="Subject" class="input input-bordered w-full mt-5 hidden" data-required value="{{ .Subject }}" />
                <textarea name="description" class="textarea textarea-bordered w-full mt-5 hidden" placeholder="Description" rows="5" data-required>{{ .Description }}</textarea>
                <input name="infohash" type="text" placeholder="Infohash, magnet or url" class="input input-bordered w-full mt-5 hidden" data-select="0,1,2" data-required value="{{ .Infohash }}" pattern=".*[0-9a-fA-F]{40}.*" />
                <input name="filename" type="text" placeholder="Filename" class="input input-bordered w-full mt-5 hidden" data-select="0,1,2" value="{{ .Filename }}" />
                <input name="email" type="email" placeholder="Email" class="input input-bordered w-full mt-5 hidden" data-required value="{{ .Email }}" />
                <input name="work" type="text" placeholder="Work" class="input input-bordered w-full mt-5 hidden" data-select="0" value="{{ .Work }}" />
            {{ end }}
            <div class="mt-7 flex justify-end">
                <button type="submit" class="btn btn-accent btn-outline hidden">Submit</button>
            </div>
        </form>
    {{ end }}
    {{ "support.js" | asset }}
{{ end }}